@font-face {
    font-family: 'Plus Jakarta Sans', 'M PLUS 2';
    font-weight: 300;
    src:
    url(assets/fonts/PlusJakartaSans-VariableFont_wght.ttf),
    url(assets/fonts/MPLUS2-VariableFont_wght.ttf);
}

/* style-stretch.css */
*{
    margin: 0;
    padding: 0;
    color: #fff;
    box-sizing: border-box;
    overflow: hidden;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: 'M PLUS 2';
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

#stretch-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 24px;
    padding: 24px;
    background-color: rgba(28, 28, 28, 0.8); /* 半透明の黒 */
    border: 2px solid #3C3C3C; /* ダークグレーのボーダー */
    box-shadow: 
    /* 0 8px 16px rgba(0, 0, 0, 0.6), ドロップシャドウ（削除） */
    inset 0 -2px 4px rgba(46, 46, 46, 0.5), /* 内側のハイライト */
    inset 0 4px 6px rgba(13, 13, 13, 0.8); /* 内側の影 */
    border-radius: 30px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 430px;
    height: 518px;
    box-sizing: border-box;
    overflow: hidden;
}

#stretch-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
#stretch-image {
    -webkit-app-region: drag;
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
    background-color: #fff; /* 背景色を設定してスペースを目立たせる */
  }

#stretch-image {
    max-width: 100%;
    max-height: 200px;
    border-radius: 8px;
}

#stretch-title {
    font-size: 20px;
    text-align: left;
    font-weight: 500;
}

#stretch-description {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    text-align: left;
    margin-bottom: 24px; /* ボタンとの間に一定の余白を設定 */
}

#text-wrapper{
    width: 100%;
    height: 120px; /* 固定高さ */
    overflow: auto; /* 内容が多い場合にスクロール可能にする */
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#stretch-description p {
    font-size: 16px;
}

#button-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: auto; /* 上の要素が多い場合でもボタンが下に固定される */
}

button {
    font-family: 'Plus Jakarta Sans', 'M PLUS 2';
    width: 100px;
    height: 40px; /* 高さは32px, 34px, 36pxなどから選択 */
    font-size: 16px; /* 文字サイズは14px, 16pxなど */
    padding: 0 calc((40px - 16px) / 2);
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

#done-button {
    background-color: #28A745;
    border: 2px solid #28A745;
    color: #FFFFFF;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.6), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.done-button:hover {
    background-color: #218838;
    box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.6), 0 3px 6px -2px rgba(0, 0, 0, 0.4);
  }

#skip-button {
    background-color: #6C757D;
    border: 2px solid #6C757D;
    color: #FFFFFF;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.6), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#skip-button :hover{
    background-color: #5A6268;
    box-shadow: 0 6px 8px -2px rgba(0, 0, 0, 0.6), 0 3px 6px -2px rgba(0, 0, 0, 0.4);
}
